.hero-flex-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.hero-section-container {
  background-color: #036fce;
}

.video {
  width: 100%;
}

h1 {
  font-size: 5.6rem;
  line-height: 1.3;
  font-weight: 400;
  color: white;
  margin-bottom: 5.6rem;
}

.download-button {
  background-color: #010123;
  color: #fff;
  margin-top: 0;
  margin-bottom: 1.6rem;
}

.hero-flex-container a:link,
.hero-flex-container a:visited {
  color: #bac2cb;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
}

.trial a:link,
.trial a:visited {
  font-size: 1rem;
  color: white;
}

.trial {
  margin-top: 3.6rem;
  color: white;
}

@media (max-width: 75em) {
}

@media (max-width: 56.25em) {
  .hero-flex-container {
    display: block;
  }
}

@media (max-width: 37.5em) {
}
