.product-item {
  padding: 2.4rem 2.4rem;
  width: 100%;
  height: 100%;
  background-color: #e8ecf1;
  border-radius: 0.4rem;

  display: flex;
  flex-direction: column;
}

.product-item:hover {
  background-color: #fff;
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
  cursor: pointer;
}

.header-grid {
  display: flex;
  gap: 0.8rem;
  margin-bottom: 1.8rem;
}

.headline3 {
  padding-top: 1rem;
}

.body-item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-action {
  text-align: right;
}

.arrow-button {
  display: inline-block;
  padding: 1.2rem 1.2rem;
  border-radius: 100rem;
  transition: all 0.3s ease-in-out;
}

.product-item:hover .arrow-button {
  display: inline-block;
  padding: 1.2rem 1.2rem;
  background-color: #010123;
  border-radius: 100rem;
  color: #fff;
}

@media (max-width: 75em) {
}

@media (max-width: 56.25em) {
}

@media (max-width: 37.5em) {
}
