.awards-section-container {
  overflow: hidden;
  padding: 4.8rem;
  background-color: #f6f7fa;
}

.awards-grid-container {
  display: grid;
  column-gap: 2.4rem;
  grid-template-columns: repeat(3, 1fr);
}
