.award-item {
  display: flex;
  gap: 1.2rem;
}

.award-item img {
  height: 7.2rem;
}

.award-item p {
  align-self: center;
}

@media (max-width: 75em) {
}

@media (max-width: 56.25em) {
  .award-item {
    margin-bottom: 2.4rem;
  }
}

@media (max-width: 37.5em) {
}
