.features-section-container {
  padding: 4.8rem;
}

.features-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.left-side-grid {
  padding-top: 3.6rem;
}

.right-side-grid {
  margin-top: 100vh;
  padding-left: 14.4rem;
  padding-right: 3.6rem;
}

.right-side-grid ul {
  list-style: none;
}

.fixed-position {
  position: sticky;
  left: 0;
  top: 0;
  height: 100vh;
}
.tablet-features-container {
  display: none;
}

@media (max-width: 75em) {
}

@media (max-width: 56.25em) {
  .tablet-features-container {
    display: block;
  }
  .tablet-features-container ul {
    list-style: none;
  }
  .features-grid-container {
    display: none;
  }
  .features-section-container {
    padding: 0rem;
  }
}

@media (max-width: 37.5em) {
}
