.footer-section {
  background-color: #002a4d;
  color: #fff;
}

.top-img-container {
  display: block;
  background-image: url("../../assets/footer-background.svg");
  background-size: 100%;
  height: 20rem;
  background-repeat: no-repeat;
  background-color: #fff;
  width: 100%;
}

.footer-grid {
  display: grid;
  grid-template-columns: 30% 1fr;
  padding: 5.6rem 0;
}

.logo-container {
  display: flex;
  gap: 1.4rem;
  flex-direction: column;
  align-self: start;
}

.logo-container img {
  display: inline-block;
  width: 70%;
}
.grid-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.grid-links ul {
  margin-top: 1.6rem;
  list-style: none;
}

.grid-links ul li {
  display: flex;
  gap: 1.2rem;
  cursor: pointer;
}

.grid-links ul li:not(last-child) {
  margin-bottom: 1.6rem;
  font-size: 1.4rem;
  color: #bac2cb;
}

.grid-links ul li:hover {
  color: #fff;
}

.grid-links ul li span {
  opacity: 0;
}

.grid-links ul li:hover span {
  opacity: 1;
  color: #fff;
}

.grid-col-2 {
}

.grid-col-3 {
}

.grid-col-4 {
}

.grid-col-5 {
}
