#icon {
  width: 15.8rem;
}

.icon-block {
  flex: 1;
}

.main-nav-list li {
  display: inline-block;
  text-decoration: none;
  font-size: 1.6rem;
  text-align: center;
  margin-left: 1.6rem;
  position: relative;
}

.main-nav-list li a {
  cursor: pointer;
}

.main-nav-list li ul {
  position: absolute;
  z-index: 10;
  opacity: 0;
  transition: all 0.4s ease-out;
  padding: 2.4rem 0rem;
  width: 15vw;
  text-align: center;
}

.main-nav-list li a:hover + ul {
  background-color: white;
  opacity: 1;
  transform: translateX(-20%);
  box-shadow: 0rem 1.2rem 2.4rem rgba(0, 0, 0, 0.06);
  display: block;
}

.main-nav-list li ul:hover {
  background-color: white;
  opacity: 1;
  transform: translateX(-20%);
  box-shadow: 0rem 1.2rem 2.4rem rgba(0, 0, 0, 0.06);
  display: block;
}

.main-nav-list li ul li {
  display: block;
  text-align: center;
  padding: 1.2rem 0rem;
}

.main-nav {
  flex: 3;
}
.header-grid {
  display: flex;
  align-items: center;
}

button {
  background-color: transparent;
  border-radius: 0.8rem;
  font-size: 1.6rem;
  cursor: pointer;
  border: 0.1rem solid #010123;
  gap: 0.8rem;
  /* display: inline-flex; */
  color: #010123;
  font-weight: 500;
  line-height: 1.38;
  padding: 1.25rem 3.2rem 1.25rem 3.2rem;
  text-decoration: none;
}

.button-content {
  position: relative;
}

button .arrow {
  position: absolute;
  transition: all 0.3s;
  opacity: 0;
  right: 0;
}

button .text {
  display: inline-block;
  transition: all 0.3s;
}

button:hover .text {
  transform: translateX(-10%);
}

button:hover .arrow {
  opacity: 1;
  float: inline-end;
  transform: translateX(60%);
}

/* header {
  padding: 2rem;
} */

.cta-table {
  display: none;
}
.cta-table button {
  border: none;
  background-color: none;
  padding: 0 1.6rem;
}

@media (max-width: 75em) {
}

@media (max-width: 56.25em) {
  .main-nav {
    display: none;
  }
  .cta-table {
    display: block;
  }

  .contact-sale-button {
    display: none;
  }
  .header {
    padding: 0;
  }
}

@media (max-width: 37.5em) {
}
