.stats-section-container {
  padding-top: 6.4rem;
  padding-bottom: 9.4rem;
  background-color: #010123;
  overflow: clip;
}

.stats-grid {
  display: grid;
  margin-top: 10rem;
  grid-template-columns: repeat(3, 1fr);
}
