.stats-section-container {
  padding-top: 6.4rem;
  padding-bottom: 9.4rem;
  background-color: #010123;
  overflow: clip;
}

.stats-grid {
  display: grid;
  margin-top: 10rem;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 75em) {
}

@media (max-width: 56.25em) {
  .stats-grid {
    display: block;
  }
}

@media (max-width: 37.5em) {
}
