.testimonials-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.4rem;
  height: 100vh;
}

.testimonial-title {
  text-align: center;
  margin-bottom: 12rem;
  margin-top: 10rem;
}

.testimonials-section {
}

@media (max-width: 75em) {
  .testimonials-grid {
    grid-template-columns: repeat(2, 1fr);
    height: 170vh;
  }
}

@media (max-width: 56.25em) {
  .testimonials-grid {
    grid-template-columns: repeat(1, 1fr);
    height: 250vh;
  }
}

@media (max-width: 37.5em) {
}
