.testimonial-item {
  /* width: 100%;
  height: auto; */
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.img-container {
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.testimonial-item p {
  font-size: 1.6rem;
  font-weight: 400;
}

.icon-container {
  background-color: #fff;
  padding: 1rem 1rem;
  margin-top: 1.2rem;
  margin-left: 1.2rem;
  border-radius: 0.4rem;
  width: 100px;
}

.icon-container img {
  display: inline-block;
  width: 100%;
}

.testimonial-action {
  text-align: right;
  width: 100%;
  padding: 1rem 1.2rem;
}

.arrow-button {
  display: inline-block;
  opacity: 0;
  padding: 1.2rem 1.2rem;
  border-radius: 100rem;
  transition: all 0.3s ease-in-out;
}

.img-container:hover .arrow-button {
  display: inline-block;
  padding: 1.2rem 1.2rem;
  opacity: 1;
  background-color: #010123;
  border-radius: 100rem;
  color: #fff;
}
